name: Kubernetes Compatibility Matrix
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s_version: [v1.16.9-k3s1,v1.17.4-k3s1,v1.18.2-k3s1]
    steps:
    - uses: debianmaster/actions-k3s@master
      id: k3s
      with:
        version: ${{ matrix.k8s_version }}
    - uses: actions/checkout@v1.0.0
    - uses: actions/setup-elixir@v1.0.0
      with:
        otp-version: 22.x
        elixir-version: 1.10.2
    - name: Test on k3s
      run: |
        kubectl get nodes        
    - run: mix local.rebar --force
    - run: mix local.hex --force
    - run: mix deps.get
    - run: mix test --only external