name: Kubernetes Compatibility Matrix
on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]
env:
  KUBECONFIG: /home/runner/.kube/config
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # https://hub.docker.com/r/kindest/node/tags
        k8s_version: [v1.26.6, v1.27.3, v1.28.0, v1.29.0]
    steps:
      - uses: engineerd/setup-kind@v0.5.0
        id: kind
        with:
          version: v0.18.0
          image: kindest/node:${{ matrix.k8s_version }}
      - uses: actions/checkout@v4.1.1
      - uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
          install-rebar: true
          install-hex: true

      - name: Retrieve Build Cache
        uses: actions/cache@v3
        id: build-folder-cache
        with:
          path: _build
          key: ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v3
        id: mix-cache
        with:
          path: deps
          key: ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - run: mix local.rebar --force
      - run: mix local.hex --force
      - run: mix deps.get
      - run: mix compile --warnings-as-errors
      - run: TEST_WAIT_TIMEOUT=110 mix test --timeout 120000 --only integration --max-failures 1
